@font-face {
    font-family: 'newromantics';
    src: url('fonts/ROMANTIC.TTF') format('truetype'); /* change to match your font file */
}

@font-face {
    font-family: 'sfpro';
    src: url('fonts/sfpro.otf') format('truetype'); /* change to match your font file */
}

body {
    font-family: 'sfpro', sans-serif;
    margin: 50px
    
}

h2 {
    color: #ff69b4;

}

p {
    font-family: 'sfpro', cursive;
    background-color: #f9f9f9;
    text-align: left;
    margin: 0;
    padding: 10px;
}

h1 {
    font-family: 'newromantics', cursive;
    margin-top: 20px;
    font-size: 48px;
    text-align: center;
    color: #ff69b4; /* pastel pink */
}

a:link, a:visited {
    color: #ff69b4;
    padding: 14px 25px;
    font-size: 48px;
    text-decoration: none;
    display: inline-block;
  }
